/* Réinitialisation de quelques styles par défaut */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global du corps de la page */
body {
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #000; /* Fond noir */
    line-height: 1.6;
}

/* Style pour l'en-tête */
header {
    padding: 20px;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Style pour la navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Style pour les sections principales */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category p {
    font-size: 1em;
}

/* Style pour le pied de page */
footer {
    padding: 10px;
    text-align: center;
    background-color: #222;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.8em;
}
